.footer {
    grid-area: footer;
    background-color: #354044;
    text-align: center;
    bottom: 0px;
    width: 100%;
    right: 0;
}
.text {
    color: white;
    line-height: 1px;
    justify-self: center;
}
