.content {
    grid-area: content;
    grid-column: span 2;
    min-height: 100vh;
}
.articles {
    display: grid;
    grid-gap: 26px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.article {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-items: center;
    /* box-shadow: 2px 3px 2px 1px rgb(0 0 0/10%); */
    border-radius: 3px;
    /* border: 1px solid lavenderblush; */
    /* padding: 10px; */
}
.article__name {
    border-bottom: 1px solid rgb(0 0 0/10%);
    height: 35px;
}

.article__description {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.article__heading {
    color: #9a9ea0;
    font-size: 14px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 4px;
    width: 100%;
}
.article__price {
    display: inline-block;
    font-weight: bold;
    padding-right: 8px;
    color: #2c3638;
    font-weight: bold;
    white-space: nowrap;
}

.article > * {
    display: inline-block;
    padding: 4px 0;
    margin: 4px 0;
    width: 100%;
}

.article > section[role='button'] {
    width: 100%;
    margin: 0.2em;
    background-color: #f5674c;
    /* border: 1px solid #fe6601; */
    cursor: pointer;
    text-align: center;
    justify-content: center;
    color: white;
    line-height: 22px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: bold;
    margin: 10px;
}
.article > section[role='button']:hover {
    opacity: 90%;
}

.paginationBttns {
    width: 100%;
    /*height: 40px; */
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 20px;
    border: 1px solid #f5674c;
    color: #f5674c;
    cursor: pointer;
}

.paginationBttns a:hover {
    color: white;
    background-color: #fe6601;
    /* opacity: 90%; */
}

.paginationActive a {
    color: white;
    /* background-color: hsl(251, 60%, 57%); */
    background-color: #1d5191;
}

.paginationDisabled a {
    color: grey;
    background-color: white;
    cursor: not-allowed;
    opacity: 40%;
}
