/* #f5674c */
.header {
    grid-area: header;
    background-color: rgb(255, 255, 255);
    /* border-bottom: 1px solid rgb(206, 204, 204); */
    box-shadow: 0px 2px #f5674c;
}
.header__innersection {
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    padding-left: 24px;
    padding-right: 24px;
}
.header__innersection__logocontainer {
    flex: 1;
    text-align: start;
}
.header__innersection__searchcontainer {
    flex: 1;
    text-align: end;
    align-self: center;
}
.header__logo {
    height: 60px;
    width: 120px;
    cursor: pointer;
}

.header input {
    float: right;
}

.sidebar {
    grid-area: sidebar;
    background-color: white;
    box-shadow: 0px 1px lightgray;
    /* height: 100vh; */
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    margin: 0 0 0 8px;
    padding: 8px 0;
    text-decoration: none;
}

.content {
    grid-area: content;
    grid-column: span 2;
}

.footer {
    grid-area: footer;
    background-color: #354044;
    text-align: center;

    /* /* position: absolute; */
    bottom: 0px;
    width: 100%;
    right: 0;
    /* height: 30px; */
}

.text {
    color: white;
    line-height: 1px;
    justify-self: center;
}
a:link {
    text-decoration: none;
    color: #354044;
}
a:visited {
    text-decoration: none;
    color: #354044;
}
a:hover {
    text-decoration: none;
    color: #f5674c;
}
a:active {
    text-decoration: none;
    color: #354044;
}

.articles {
    display: grid;
    grid-gap: 26px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.article {
    border: 1px solid lavenderblush;
    padding: 10px;
}

.article > * {
    display: inline-block;
    padding: 4px 0;
    margin: 4px 0;
    width: 100%;
}

.article > section[role='button'] {
    padding: 0.2em;
    background-color: lightgoldenrodyellow;
    border: 1px solid lightgray;
    cursor: pointer;
    text-align: center;
}
