/* #f5674c */
.header {
    grid-area: header;
    background-color: rgb(255, 255, 255);
    /* border-bottom: 1px solid rgb(206, 204, 204); */
    /* box-shadow: 0px 2px #f5674c; */
    box-shadow: 0px 1px 2px 0 rgb(0 0 0/10%);
}
.header__innersection {
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    padding-left: 24px;
    padding-right: 24px;
}
.header__innersection__logocontainer {
    flex: 1;
    text-align: start;
}
.header__innersection__searchcontainer {
    flex: 1;
    text-align: end;
    align-self: center;
}
.header__logo {
    height: 60px;
    width: 120px;
    cursor: pointer;
}

.header input {
    float: right;
}

.sidebar {
    grid-area: sidebar;
    background-color: white;
    box-shadow: 0px 1px lightgray;
    /* height: 100vh; */
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    margin: 0 0 0 8px;
    padding: 8px 0;
    text-decoration: none;
}

.content {
    grid-area: content;
    grid-column: span 2;
    min-height: 100vh;
}

.footer {
    grid-area: footer;
    background-color: #354044;
    text-align: center;
    bottom: 0px;
    width: 100%;
    right: 0;
}

.text {
    color: white;
    line-height: 1px;
    justify-self: center;
}
a:link {
    text-decoration: none;
    color: #354044;
}
a:visited {
    text-decoration: none;
    color: #354044;
}
a:hover {
    text-decoration: none;
    color: #f5674c;
}
a:active {
    text-decoration: none;
    color: #354044;
}

.articles {
    display: grid;
    grid-gap: 26px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.article {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-items: center;
    /* box-shadow: 2px 3px 2px 1px rgb(0 0 0/10%); */
    border-radius: 3px;
    /* border: 1px solid lavenderblush; */
    /* padding: 10px; */
}
.article__name {
    border-bottom: 1px solid rgb(0 0 0/10%);
    height: 35px;
}

.article__description {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.article__heading {
    color: #9a9ea0;
    font-size: 14px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 4px;
    width: 100%;
}
.article__price {
    display: inline-block;
    font-weight: bold;
    padding-right: 8px;
    color: #2c3638;
    font-weight: bold;
    white-space: nowrap;
}

.article > * {
    display: inline-block;
    padding: 4px 0;
    margin: 4px 0;
    width: 100%;
}

.article > section[role='button'] {
    width: 100%;
    margin: 0.2em;
    background-color: #f5674c;
    /* border: 1px solid #fe6601; */
    cursor: pointer;
    text-align: center;
    justify-content: center;
    color: white;
    line-height: 22px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: bold;
    margin: 10px;
}
.article > section[role='button']:hover {
    opacity: 90%;
}

.paginationBttns {
    width: 100%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 20px;
    border: 1px solid #f5674c;
    color: #f5674c;
    cursor: pointer;
}

.paginationBttns a:hover {
    color: white;
    background-color: #fe6601;
    /* opacity: 90%; */
}

.paginationActive a {
    color: white;
    /* background-color: hsl(251, 60%, 57%); */
    background-color: #1d5191;
}

.paginationDisabled a {
    color: grey;
    background-color: white;
    cursor: not-allowed;
    opacity: 40%;
}
